.leaderboard {
   width: 100%;
   max-width: 100%;
   position: relative; /* Ensures it respects the header’s position */
   width: 100%;
   margin-top: 0; /* No need for additional margin */
   z-index: 1; /* Keeps it below the header */
   overflow: hidden;
   margin-top: 160rem;
 }
 
 .slide {
   position: relative;
   width: 100%;
 }
 
 .slide img {
   width: 100%;
   height: 900px;
   object-fit: fill; /* Ensures image fits nicely */
 }
 
