
.trending-section {
    background-color: white;
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px; 
    position: relative; 
    margin-top: 1rem;;
    /* border: 1px solid black;  */
 }
 
 .trending-section__header {
    text-align: center;
    margin-bottom: 1.5rem;
 }
 
 .trending-section__header h2 {
    font-size: 2rem;
    color: #333;
 }
 
 .trending-section__carousel {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
 }
 
 .products-container {
    display: flex;
    gap: 1rem;
    overflow: hidden; 
    width: 100%;
    transition: transform 0.6s ease-in-out; 
    justify-content: center;
    max-width: 1200px;
 }
 
 .product-card {
    text-align: center;
    flex-shrink: 0;
    width: calc(100% / 5 - 1rem); 
 }
 
 .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
 }
 
 .product-card p {
    margin-top: 0.5rem;
    font-weight: 500;
 }
 
 .product-card:hover img {
    transform: scale(1.1); 
 }
 
 /* Arrows styling */
 .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: #232f3e;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 1rem;
 }
 
 .left-arrow {
    left: 0; 
 }
 
 .right-arrow {
    right: 0; 
 }
 
 .left-arrow:focus {
    outline: none;
    background: transparent;
    border: none;
 }
.right-arrow:focus {
  outline: none;
  background: transparent;
  border: none;
}
 .arrow:hover {
    color: #ff9900; 
 }
 
